{% extends 'base.html.twig' %}

{% block title %}Comment ça fonctionne - {{ parent() }}{% endblock %}

{% block content %}
  <section class="relative flex flex-col justify-center items-center overflow-hidden bg-transparent md:p-10">
    <div class="absolute inset-0 z-0 pointer-events-none">
      <svg viewBox="0 0 1440 464" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-full">
        <ellipse cx="720" cy="0" rx="964" ry="440" fill="#EDFAFF" />
      </svg>
    </div>
    <div class="relative z-10 flex flex-col items-center justify-center w-full pt-32 pb-16">
      <h1 class="text-5xl md:text-7xl font-bold text-torea-900 text-center">Rapide. Propre. Frais.</h1>
      <div class="text-torea-900 mb-12 text-xl md:text-2xl text-center">Votre linge livré en 24h.</div>
    </div>
    <div class="absolute left-1/2 bottom-10 translate-x-[-50%] translate-y-[60%] z-20">
      <a href="{{ path('app_order') }}"
        class="inline-flex items-center bg-blue-500 text-white px-6 py-3 rounded-lg font-semibold shadow hover:bg-blue-600 text-base">
        <svg class="w-5 h-5 mr-2 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
        Planifiez votre collecte
      </a>
    </div>
  </section>
  <div class="max-w-5xl mx-auto">
    {% for work in howWorks %}
        {% if loop.index is odd %}
        <section class="flex flex-col md:flex-row mb-10 md:mb-0 items-center gap-10 mt-10">
      <div class="flex-1">
        <div class="uppercase text-xs text-gray-400 font-semibold mb-2">{{work.indice}}</div>
        <h2 class="text-2xl font-bold mb-2">{{work.rang}}. {{work.title}}</h2>
        <p class="mb-4">{{work.description}}</p>
        <div class="flex flex-col gap-3 mb-2">
            {% for step in work.steps %}
          <div class="flex items-center gap-2 text-sm font-semibold py-2">
            <img src="{{ step.icon }}" alt="icon" class="w-7 h-7 mr-2" />
            {{step.title}}
          </div>
            {% endfor %}
        </div>
      </div>
      <div class="flex-1 flex flex-col items-center">
        <img src="{{work.image}}" alt="image" class="rounded-xl mb-4 object-cover" />
      </div>
    </section>
    <hr class="border-gray-400 mt-10">
        {% else %}
        <section class="flex flex-col md:flex-row mb-10 md:mb-0 items-center gap-10 mt-10">
      <div class="flex-1 flex flex-col items-center">
        <img src="{{work.image}}" alt="image" class="rounded-xl mb-4 object-cover" />
      </div>
      <div class="flex-1">
        <div class="uppercase text-xs text-gray-400 font-semibold mb-2">{{work.indice}}</div>
        <h2 class="text-2xl font-bold mb-2">{{work.rang}}. {{work.title}}</h2>
        <p class="mb-4">{{work.description}}</p>
        <div class="flex flex-col gap-3 mb-2">
            {% for step in work.steps %}
          <div class="flex items-center gap-2 text-sm font-semibold py-2">
            <img src="{{ step.icon }}" alt="icon" class="w-7 h-7 mr-2" />
            {{step.title}}
          </div>
           {% endfor %}
        </div>
      </div>
    </section>
    <hr class="border-gray-400 mt-10">
        {% endif %}
    {% endfor %}

  </div>
  
  <section class="bg-water-900 mt-10">
    <div class="max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-between gap-8">
      <div class="flex-shrink-0">
        <img src="img9.png" alt="image" class="w-45 h-45 md:p-4"/>
      </div>
      <div class="flex-1 flex flex-col items-center md:items-start justify-center text-center md:text-left">
        <h3 class="text-2xl font-bold text-torea-900 mb-2">Ne laissez pas vos corvées définir qui vous êtes</h3>
        <div class="text-torea-900 mb-3">Entrez votre adresse et planifiez une collecte dès aujourd'hui</div>
        <a href="{{ path('app_order') }}" class="bg-white text-torea-900 px-4 py-2 rounded font-semibold shadow hover:bg-blue-100">
          <svg class="w-5 h-5 inline mr-2 text-torea-900" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
          </svg>
          Planifiez votre collecte
        </a>
      </div>
    </div>
  </section>
{% endblock %}