{% extends 'base.html.twig' %}

{% block title %}À propos de nous - {{ parent() }}{% endblock %}

{% block content %}
  <div class="max-w-5xl mx-auto mt-30">
    <main>
    {% for section in sections %}
        {% if loop.index == 1 %}
            <section class="flex flex-col md:flex-row mb-10 md:mb-0 items-center gap-10">
                <div class="flex-1">
                    <h1 class="text-3xl font-bold mb-2">{{ section.title }}</h1>
                    <p class="text-sm mb-2">{{ section.description }}</p>
                </div>
                <div class="flex-1 flex flex-col items-center">
                    <img src="{{ section.image }}" alt="image" class="rounded-xl mb-4 object-cover" />
                </div>
            </section>
        {% elseif loop.index == 2 %}
            <hr class="border-gray-400 mt-10">
            <section class="flex flex-col md:flex-row mb-10 md:mb-0 items-center gap-10 mt-10">
                <div class="flex-1 flex flex-col items-center">
                    <img src="{{ section.image }}" alt="image" class="rounded-xl mb-4 object-cover" />
                </div>
                <div class="flex-1">
                    <h1 class="text-3xl font-bold mb-2">{{ section.title }}</h1>
                    <p class="text-sm mb-2">{{ section.description }}</p>
                </div>
            </section>
            <hr class="mt-10 border-gray-400">
            <section class="text-center mt-10">
                <h2 class="text-2xl md:text-3xl font-bold mb-4">
                    Nous investissons dans l'une des plus grandes flottes de véhicules de livraison électriques au monde.
                </h2>
                <div class="text-xs text-torea-900 font-medium mb-2">
                    Incroyable ! Cela deviendra la plus grande flotte de trikes/quadicicycles en activité ! C'est tellement
                    positif d'assister à un passage des commandes symboliques des entreprises (et c'est déjà bien !) à un
                    déploiement commercial complet.
                </div>
            </section>
        {% else %}
            {% set motif_index = (loop.index0) % 2 %}
            <hr class="border-gray-400 mt-10">
            {% if motif_index == 0 %}
                <section class="flex flex-col md:flex-row mb-10 md:mb-0 items-center gap-10 mt-10">
                    <div class="flex-1">
                        <h1 class="text-3xl font-bold mb-2">{{ section.title }}</h1>
                        <p class="text-sm mb-2">{{ section.description }}</p>
                    </div>
                    <div class="flex-1 flex flex-col items-center">
                        <img src="{{ section.image }}" alt="image" class="rounded-xl mb-4 object-cover" />
                    </div>
                </section>
            {% else %}
                <section class="flex flex-col md:flex-row mb-10 md:mb-0 items-center gap-10 mt-10">
                    <div class="flex-1 flex flex-col items-center">
                        <img src="{{ section.image }}" alt="image" class="rounded-xl mb-4 object-cover" />
                    </div>
                    <div class="flex-1">
                        <h1 class="text-3xl font-bold mb-2">{{ section.title }}</h1>
                        <p class="text-sm mb-2">{{ section.description }}</p>
                    </div>
                </section>
            {% endif %}
        {% endif %}
    {% endfor %}

    </main>

    <section class="bg-water-900 mt-10 rounded-2xl">
      <div class="max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-between gap-8">
        <div class="flex-shrink-0">
          <img src="img9.png" alt="Linge jaune" class="w-40 h-40 md:p-4" />
        </div>
        <div class="flex-1 flex flex-col items-center md:items-start justify-center text-center md:text-left">
          <h3 class="text-2xl font-bold text-torea-900 mb-2">Ne laissez pas vos corvées définir qui vous êtes</h3>
          <div class="text-torea-900 mb-3">Entrez votre adresse et planifiez une collecte dès aujourd'hui</div>
          <a href="#" class="bg-white text-torea-900 px-4 py-2 rounded font-semibold shadow hover:bg-blue-100">
            <svg class="w-5 h-5 inline mr-2 text-torea-900" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
            Planifiez votre collecte
          </a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}